# --------------------------
# Node.js & TypeScript
# --------------------------
node_modules/
dist/
out/
build/
*.tsbuildinfo

# --------------------------
# Environment Variables
# --------------------------
.env
.env.*.local
# Keep example file
!.env.example


